body {
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 0;
}

h1 {
    margin-bottom: 20px; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

.image-stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container .image-stack img {
    width: 10px;
    height: 10px;
    margin: 5px;
}

.box {
    width: 250px;
    height: 100px;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 20px; 
    margin-right: auto;
}

.img {
    width: 250px;
    height: auto;
}